html{
    font-family: 'PT Sans', sans-serif;

}
body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul{
    padding: 0px!important;
}
 h1{
     font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
 h1, p{
    color:#818181;
    text-align: center;
   
}
content p{
    font-size: 15px;
}
strong{
    color: #646464;
}
.menu-principal{
    width:100%;
    background-color: #252323;
    height: 60px;
}
main, .contend{
    width: 980px;
    margin: 0 auto;
    position: relative;
}  
.logo{
    padding: 16px;
    width: 75%;
    float: left;
}
.social-media ul li{
    margin-left: 25px;
        display: inline-block;
        float: right;
        list-style: none;
}
.social-media{
    width:20%;
    float: left;
    
}
.menu-url{
    height:80px; 
    border-bottom: 3px solid #efefef;
}
nav{
    background-color:white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}
nav .menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 45px;
}
nav .menu ul li a:hover {
    color: #00bac6;
    
    
}
nav .menu ul li:hover {
    color:#00bac6;
    border-bottom: 3px solid #00bac6;
}
nav .menu ul li a{
    text-decoration: none;
    color: #8b8b8b;
    font-size:18px;
    text-transform: uppercase;
    margin-left: 15px;
}
nav .menu{
    width: 70%;
    float: left;
}
nav .search{
    width: 20%;
    float: right;
    text-align: center;
    
    
}
nav .search input{
    margin-top: 10px;
    height: 26px;
    width:190px;
    padding-left: 12px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: 96%;
    border: 3px solid #d6d6d6;

}
.col-100{
    width: 100%;
    float: left;
    position: relative;
    
}
button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background-color: transparent;
    background-image: url(../img/arrowL.png);
    position: absolute;
    z-index: 9;
    top: 32%;
    left: 14%;
}
button.slick-next{
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 51px;
    width: 25px;
    background-color: transparent;
    background-image: url(../img/arrowR.png);
    position: absolute;
    z-index: 9;
    top: 32%;
    right: 10%;
}


.slick-list{
    width: 100%!important;
}
.slick-dots li button{
    font-size: 0px;
    background-color: transparent;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    
    
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 93%;
}
.slick-dots li{
    display:inline-block;
    padding-left: 10px;
}
li.slick-active button{
    background: #00bac6;
}
.icons{
    width: 30%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    
    
}
.icons h3{
    color:#7b7b7b;
    font-size: 20px;
    text-align: center;
}
.icons p{
    color: #b8b8b8;
    font-size:14px;
    text-align: center;
}
.bloco-texto{
    margin-top:3em;
    margin-bottom:3em;
    clear: both;
    overflow: hidden;
}
.section2{
    height: 693px;
    widows: 100%;
    background-color: #eeeeee;
    margin-top: 3em;
}
.section2 .photos{
    width: 29%;
    float: left;
    position: relative;
    padding-right: 15px;
    padding-right: 15px;
    margin-left: 29px;
    border: 1px solid #c5c5c5;
}
.section2 .photos p{
    font-size: 14px;
    text-align: left;
}
.spensors{
    height: 138px;
    
    
    
}
.spensors .logotipos{
    float: left;
    position: relative;
    width: 15%;
    padding-left: 5%;
    padding-right: 5%;
    
}
footer .more-info{
    height: 350px;
    background-color: #4d4c4e;
    clear: both;
    
}
footer .more-info .card-more{
    float: left;
    width: 15%;
    position: relative;
    padding-right: 30px;
    padding-left:30px;
    margin-left: 50px;
}
.paredeR{
   float:left;
    position: absolute;
    width: 150px;
       
}